<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customer Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/smartadmin/css/vendors.bundle.css" />
    <link rel="stylesheet" href="~/smartadmin/css/app.bundle.css" />
    <link rel="stylesheet" href="~/smartadmin/css/notifications/sweetalert2/sweetalert2.bundle.css" />
    <link rel="stylesheet" href="~/smartadmin/css/themes/cust-theme-15.css" />
    <link rel="stylesheet" href="~/smartadmin/css/skins/skin-master.css" />
    <link rel="stylesheet" href="~/smartadmin/css/datagrid/datatables/datatables.bundle.css" />
    <link rel="stylesheet" href="~/smartadmin/css/formplugins/summernote/summernote.css" />
    <link rel="stylesheet" href="~/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="~/smartadmin/css/formplugins/select2/select2.bundle.css" />
    <link rel="stylesheet" href="~/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="~/css/CustomStyle.css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
</head>
<body class="mod-bg-1 mod-nav-link">
    <script>'use strict';
        var classHolder = document.getElementsByTagName("BODY")[0],
            themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) : {},
            themeURL = '~/smartadmin/css/themes/cust-theme-15.css' || '',
            themeOptions = themeSettings.themeOptions || '';

        /**
        * Load theme options
        **/
        if (themeSettings.themeOptions) {
            classHolder.className = themeSettings.themeOptions;
            console.log("%c✔ Theme settings loaded", "color: #148f32");
        }
        else {
            console.log("%c✔ Heads up! Theme settings is empty or does not exist, loading default settings...", "color: #ed1c24");
        }
        if (themeSettings.themeURL && !document.getElementById('mytheme')) {
            var cssfile = document.createElement('link');
            cssfile.id = 'mytheme';
            cssfile.rel = 'stylesheet';
            cssfile.href = themeURL;
            document.getElementsByTagName('head')[0].appendChild(cssfile);

        }
        else if (themeSettings.themeURL && document.getElementById('mytheme')) {
            document.getElementById('mytheme').href = themeSettings.themeURL;
        }
        /**
         * Save to localstorage
         **/
        var saveSettings = function () {
            themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function (item) {
                return /^(nav|header|footer|mod|display)-/i.test(item);
            }).join(' ');
            if (document.getElementById('mytheme')) {
                themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
            };
            localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
        }

        /**
        * Reset settings
        **/
        var resetSettings = function () {
            localStorage.setItem("themeSettings", "");
        }</script>
    <div class="page-wrapper">
        <div class="page-inner">
            <!--Left slide-->
            <div class="page-sidebar">
                <partial name="_Navigation" />
            </div>
            <!--Left slide end-->
            <div class="page-content-wrapper">
                <!-- BEGIN Page Header -->
                <header class="page-header">
                    <partial name="_Header" />
                </header>
                <main class="page-content" role="main" id="js-page-content" style="background-color:#EBECEC;">
                    <!--Loading smartadmin js-->
                    <script src="~/smartadmin/js/vendors.bundle.js"></script>
                    <script src="~/smartadmin/js/app.bundle.js"></script>
                    <script src="~/smartadmin/js/i18n/i18n.js"></script>
                    <script src="~/smartadmin/js/statistics/peity/peity.bundle.js"></script>
                    <script src="~/smartadmin/js/statistics/flot/flot.bundle.js"></script>
                    <script src="~/smartadmin/js/statistics/easypiechart/easypiechart.bundle.js"></script>
                    <script src="~/smartadmin/js/datagrid/datatables/datatables.bundle.js"></script>
                    <script src="~/smartadmin/js/formplugins/summernote/summernote.js"></script>
                    <script src="~/smartadmin/js/dependency/moment/moment.js"></script>
                    <script src="~/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
                    <script src="~/smartadmin/js/formplugins/select2/select2.bundle.js"></script>
                    <script src="~/smartadmin/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
                    <script src="~/js/bootstrap-multiselect.js"></script>
                    @RenderBody()
                </main>
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
                <footer class="page-footer" role="contentinfo">
                    <partial name="_Footer" />
                </footer>
                <partial name="_TopShortcut" />
            </div>
        </div>
    </div>
    <partial name="_Settings" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- @RenderSection("Scripts", required: false)-->
</body>
</html>
